/* -------------------Default Config-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

button{
    cursor: pointer;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* -------------------Header-------------------------- */



header{
    height: calc(100vh - 15rem);
    background-image: url('./img/img6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title{
    color: #fff;
    font-size: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 84rem;
    margin: 0 auto;
    padding: 2rem;
    font-weight: 500;

}

nav ul{
    display: flex;
}

nav ul li a{
    color: rgb(226, 221, 226);
    font-size: 1.3rem;
    font-weight: 700;
    position: relative;
    padding-bottom: 2px;
}


nav ul li a::after{
   content: " ";
   width: 0;
   height: 2px;
   background-color: #f19839;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: 0.5s ease-in-out;
}

nav ul li a:hover::after{
    width: 100%;
}


nav ul li+li{
    margin-left: 1.5rem;
}

.header-content{
    color: rgb(230, 224, 230);
    max-width: 512rem;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content h1{
    margin-bottom: 2.2rem;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
}

.header-content p{
    margin-bottom: 8rem;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 500;
}

.header-content .btn-header{
background-color: #f19839;
 color: rgb(226, 221, 226);
 border-radius: 1rem;
 padding: 1rem;
 font-weight: 500;
}

/* -------------------Cards-------------------------- */

.pacotes{
    background-color: #c2dddf;
    padding: 2rem 0;
    text-align: center;
}

.pacotes h1{
    font-size: 2.5rem;
}

.pacotes-cards{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    position: relative;
}

.pacotes .card{
width: 25rem;
height: 35rem;
border-radius: 2rem 0 2rem 0;
background-color: #fff;
}

.pacotes .card-img{
    position: relative;
}

.pacotes .card-img img{
    border-radius: 2rem 0 0 0;
}

.card-content {
   padding: 1rem;

}

.card-content ul{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.card-content li{
    margin-top: 0.5rem;
}

.card-tag-top{
    right: 0;
    font-weight: 400;
    margin-top: 1rem;
    padding: 0.1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    position: absolute;
    text-align: center;
    color: #fff;
    background-color: #f19839;
}

.card-tag-preco{
    position: absolute;
    bottom: 0;
    font-weight: 400;
    padding: 0.1rem;
    position: absolute;
    text-align: center;
    color: #fff;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: #1d61dd;
}

/* -------------------Serviços-------------------------- */

.servicos{
    padding: 2rem 0;
}

.servicos .servicos-cards{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.servicos h1{
    font-size: 2.5rem;
    text-align: center;
}

.servicos .card h2{
  margin: 1rem 0;
}

.servicos .card{
    width: 25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.servicos .card svg{
    width: 4rem;
    height: 4rem;
    margin-bottom: 4rem;
}



/* -------------------Contato-------------------------- */

#map {
    height: 400px;
    width: 100%;
}


.contato{
    position: relative;
    padding: 4rem;
    background-color: #C2DDDF;
}

.contato .card-contato{
    padding: 2rem;
    width: 30rem;
    height: 50%;
    background-color: #fff;
    position: absolute;
    top: calc(0 - 50%);
    left: calc(0 - 30rem);
    z-index: 1;
    border-radius: 0 1rem  1rem 0 ;
}

.contato  .card-contato h1{
    text-align: center;
    font-size: 2rem;
}

.contato .card-contato ul li{
    margin-top: 2rem;
    font-weight: 500;
    display: flex;
    align-content: center;
}

.contato .card-contato ul svg{
  margin-right: 1rem;
}

/* -------------------Query-------------------------- */

@media (max-width:400px){
    header nav{
        flex-direction: column;
    }

    header nav span{
        margin-bottom: 3rem;
    }

    .header-content{
        margin: 50px auto;
    }

}

@media (max-width:540px){
    .pacotes-cards .card{
        margin-right: 2rem;
    }

 
}

@media (max-width:767px){
    nav{
        align-items: center;
    }
 
}

@media (max-width:1200px){
    .pacotes-cards .card{
        margin-bottom: 2rem;
    }


    .pacotes-cards .card:nth-child(4){
        margin-bottom: 0;
    }
   
}
